{{ define "body"}}
<div class="container-fluid">
    <div class="row">
	    <div class="col-sm-5">
		    <h3 class="page-header">Create user</h3>			
		    <form id="createUserFrm" method="POST">
			  <div id="firstNameFrmGroup" class="form-group">
			    <label for="firstName">First Name</label>
			    <input type="text" class="form-control" name="firstName" placeholder="Enter first name"><span class="help-block"></span>
			  </div>
			  <div id="lastNameFrmGroup" class="form-group">
			    <label for="lastName">Last Name</label>
			    <input type="text" class="form-control" name="lastName" placeholder="Enter last name"><span class="help-block"></span>
			  </div>
			  <div id="usernameFrmGroup" class="form-group">
			    <label for="username">Username</label>
			    <input type="text" class="form-control" name="username" placeholder="Enter username"><span class="help-block"></span>
			  </div>
			  <div id="passwordFrmGroup" class="form-group">
			    <label for="password">Password</label>
			    <input type="password" class="form-control" name="password" placeholder="Enter password"><span class="help-block"></span>
			  </div>
			  <button id="btnCreate" type="button" class="btn btn-primary">Submit</button>
			</form>
		</div>
    </div>
	<BR>	
	<div class="row">
	  <div class="col-sm-12 col-md-12">
		  <div class="panel panel-primary">
		    <div class="panel-heading">{{.Title}}</div>
			<ul class="list-group">
			  {{range $user:=.Users}}
			  <li class="list-group-item">
			    <a href="/editUser?id={{ $user.Id}}" >{{ $user.FirstName}} {{ $user.LastName}} / {{ $user.Username}}</a>
			  </li>	
			  {{end}}	  
			</ul>
		  </div>	
	  </div>
	</div>
 </div>
 <script>

   $(document).ready(function(){
	
	  $("#btnCreate").click(function(){
		
		var dataform = $("#createUserFrm").serialize();
		
		$.ajax({
		            	url:"/createUser",
			  			  data:dataform,
			  			  type:"POST",
			  			  //contentType: "application/json",			  
			  			  success: function(response,status) {
			  			
			  				$('#createUserFrm').find('.form-group').removeClass('has-error');
			  				$('#createUserFrm').find('.form-sub-group').removeClass('has-error');
					        $('#createUserFrm').find('.help-block').empty();
			  				  
			  			  	console.log('result='+response+',status='+status);
							console.log('res status='+response.Status);
								
			  			  	if (response.Status == 'FAIL') {
			  			  		if (response.ErrorMessage !='' && response.ErrorMessage != null){
			  			  			alert(response.ErrorMessage);
			  			  		}
				  				for (var i = 0; i < response.ErrorsList.length; i++) {
					  				var item = response.ErrorsList[i];
					  				var $formGroup = $('#' + item.FieldName+'FrmGroup');
					  				$formGroup.addClass('has-error');
					  				$formGroup.find('.help-block').html(item.ErrorMessage);
				  				}
				  			} else {
				  				// redirect here ...... 
				  				alert("User successfully created")
								window.location.replace("/users")
			  				}
			  			  }
			  		});		
		
	  });
	
   });

 </script>

{{ end }}